@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --main-bg-color: #dfdedc;
  --second-bg-color: #525644;
  --third-bg-color: #efedee;

  --main-font-color: #525644;
  --second-font-color: #dfdedc;
  --third-font-color: #9b998d;

  --shadow-color: 74deg 15% 16%;
  --shadow-elevation-low: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.34),
    1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.34);
  --shadow-elevation-medium: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
  --shadow-elevation-high: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.34),
    2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.34),
    4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.34),
    7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.34),
    11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.34),
    17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.34),
    25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.34);
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 16px * 62.5 = 10px = 1rem*/
}

body {
  height: 100vh;
  font: 1.6rem 'Mukta', sans-serif;
  margin: 0;
  font-weight: 400;
  position: relative;
  z-index: 1;
}

a {
  color: var(--main-font-color);
  text-decoration: none;
}

button {
  cursor: pointer;
}

input {
  outline: none;
}

input,
button {
  font: 1.6rem 'Mukta';
  padding: 1rem;
  border: 0;
  border-radius: 0.5rem;
  /* box-shadow: var(--shadow-elevation-low); */
}

input:hover,
button:hover {
  box-shadow: var(--shadow-elevation-medium);
}

button.primary {
  background: var(--second-bg-color);
  color: var(--second-font-color);
}

.fw {
  width: 100%;
}

.success {
  color: #40c040;
}

.error {
  color: #c04040;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 8rem 1fr 8rem;
  min-height: 100%;
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
}

header {
  grid-area: header;
  position: sticky;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  background: rgba(82, 86, 68, 1);
}

header a {
  color: var(--second-font-color);
  font-weight: bold;
  text-decoration: none;
}

.brand a {
  font-size: 3rem;
}

/* Products */
.products {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.products li {
  margin: 3rem;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  background-color: var(--third-bg-color);
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  border-radius: 6px;
  overflow: hidden;
}

.product img {
  max-height: 26rem;
}

.product-name {
  line-height: 2.2rem;
}

.product-brand {
  font-size: 1.2rem;
  color: var(--third-font-color);
}

.product-price {
  font-size: 2rem;
}

footer {
  background: var(--second-bg-color);
  color: var(--second-font-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Rating */
.rating {
  color: var(--second-bg-color);
  font-size: 1.4rem;
}

.rating span:last-child {
  color: var(--third-font-color);
  font-size: 1.2rem;
}

.content {
  padding: 1rem;
}
/* Product Details */
.details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.details-image {
  flex: 2 1 60rem;
}

.details-image img {
  max-width: 60rem;
  width: 100%;
}

.details-info,
.details-action {
  flex: 1 1 30rem;
}

.details-info h1 {
  font-size: 2rem;
  margin: 0;
}

.details-info div,
.details-action div {
  margin-bottom: 1rem;
}

.details-action {
  border: 0.1rem #525644 solid;
  border-radius: 0.5rem;
  background: #d6dac7;
  padding: 1rem;
}

/* FORM */
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form-itens {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 34em;
  border: 0.05rem #d6dac7 solid;
  border-radius: 0.5rem;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.title-form {
  font-size: 2.5rem;
}
