@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --main-bg-color: #ffe6eb;
  --second-bg-color: #0e0220;
  --third-bg-color: #ffebf0;

  --main-font-color: #0e0220;
  --second-font-color: #ffe6eb;
  --third-font-color: #3a3246;

}


* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 16px * 62.5 = 10px = 1rem*/
}

body {
  height: 100vh;
  font: 1.6rem 'Mukta', sans-serif;
  margin: 0;
  font-weight: 400;
  position: relative;
  z-index: 1;
}

a {
  color: var(--main-font-color);
  text-decoration: none;
}

.grid-container {
  display: grid;
  grid-template-areas: 
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 8rem 1fr 8rem;
  height: 100%;
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
}

header {
  grid-area: header;
  color: var(--main-font-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

header a {
  color: var(--main-font-color);
  font-weight: bold;
  text-decoration: none;
}

.brand a {
  font-size: 3rem;
}

/* Products */
.products {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.products li {
  margin: 3rem;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  background-color: var(--third-bg-color);
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  border-radius: 6px;
  overflow: hidden;
}

.product img {
  max-height: 26rem;
}

.product-name {
  line-height: 2.2rem;
}

.product-brand {
  font-size: 1.2rem;
  color: var(--third-font-color);
}

.product-price {
  font-size: 2rem;
}

footer {
  background: var(--second-bg-color);
  color: var(--second-font-color);
  display: flex;
  justify-content: center;
  align-items: center;
}